<a href="https://colab.research.google.com/github/pharm-me/CAAD_facultative/blob/master/CAAD_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/My Drive/tnf-alpha.csv', sep=';')

In [ ]:
data.head()

  Molecule ChEMBL ID Molecule Name  ...  Document Year Cell ChEMBL ID
0       CHEMBL341096           NaN  ...         1999.0           None
1       CHEMBL169239           NaN  ...         1996.0           None
2       CHEMBL263480           NaN  ...         1996.0           None
3      CHEMBL1384893           NaN  ...            NaN           None
4      CHEMBL1699379           NaN  ...            NaN           None

[5 rows x 41 columns]

In [ ]:
data.shape

(1668, 41)

In [ ]:
cols = list(data.columns)
cols

['Molecule ChEMBL ID',
 'Molecule Name',
 'Molecule Max Phase',
 'Molecular Weight',
 '#RO5 Violations',
 'AlogP',
 'Compound Key',
 'Smiles',
 'Standard Type',
 'Standard Relation',
 'Standard Value',
 'Standard Units',
 'pChEMBL Value',
 'Data Validity Comment',
 'Comment',
 'Uo Units',
 'Ligand Efficiency BEI',
 'Ligand Efficiency LE',
 'Ligand Efficiency LLE',
 'Ligand Efficiency SEI',
 'Potential Duplicate',
 'Assay ChEMBL ID',
 'Assay Description',
 'Assay Type',
 'BAO Format ID',
 'BAO Label',
 'Assay Organism',
 'Assay Tissue ChEMBL ID',
 'Assay Tissue Name',
 'Assay Cell Type',
 'Assay Subcellular Fraction',
 'Target ChEMBL ID',
 'Target Name',
 'Target Organism',
 'Target Type',
 'Document ChEMBL ID',
 'Source ID',
 'Source Description',
 'Document Journal',
 'Document Year',
 'Cell ChEMBL ID']

In [ ]:
cols_we_need = ['Molecule ChEMBL ID', 
                'Smiles', 
                'Standard Type', 
                'Standard Value', 
                'Standard Units',
                'Assay Type',
                'Assay Organism',
                'Target Organism']

In [ ]:
cols_we_need

['Molecule ChEMBL ID',
 'Smiles',
 'Standard Type',
 'Standard Value',
 'Standard Units',
 'Assay Type',
 'Assay Organism',
 'Target Organism']

In [ ]:
data_ed = data[cols_we_need]

In [ ]:
data_ed

     Molecule ChEMBL ID  ... Target Organism
0          CHEMBL341096  ...    Homo sapiens
1          CHEMBL169239  ...    Homo sapiens
2          CHEMBL263480  ...    Homo sapiens
3         CHEMBL1384893  ...    Homo sapiens
4         CHEMBL1699379  ...    Homo sapiens
...                 ...  ...             ...
1663          CHEMBL704  ...    Homo sapiens
1664      CHEMBL4128842  ...    Homo sapiens
1665      CHEMBL4068672  ...    Homo sapiens
1666      CHEMBL4211883  ...    Homo sapiens
1667      CHEMBL4216705  ...    Homo sapiens

[1668 rows x 8 columns]

In [ ]:
data_ed.isna().sum()

Molecule ChEMBL ID      0
Smiles                  2
Standard Type           0
Standard Value        157
Standard Units        178
Assay Type              0
Assay Organism          0
Target Organism         0
dtype: int64

In [ ]:
data_ed = data_ed.dropna()

In [ ]:
data_ed.isna().sum()

Molecule ChEMBL ID    0
Smiles                0
Standard Type         0
Standard Value        0
Standard Units        0
Assay Type            0
Assay Organism        0
Target Organism       0
dtype: int64

In [ ]:
u_values = []
for i in range(0,len(data_ed.columns)):
  u_val = data_ed[data_ed.columns[i]].nunique()
  u_values.append(u_val)

In [ ]:
u_values

[993, 993, 7, 830, 3, 2, 2, 1]

In [ ]:
data_ed_droped = data_ed.drop(['Molecule ChEMBL ID', 'Smiles', 'Standard Value'], axis = 1)

In [ ]:
u_name_values = []
for i in range(0,len(data_ed_droped.columns)):
  u_n_val = list(data_ed[data_ed_droped.columns[i]].unique())
  u_name_values.append(u_n_val)

In [ ]:
u_name_values

[['IC50', 'Potency', 'Ki', 'EC50', 'Inhibition', 'Kd', 'Activity'],
 ['nM', '%', 'kDa'],
 ['F', 'B'],
 ['None', 'Homo sapiens'],
 ['Homo sapiens']]

In [ ]:
data_ed = data_ed.rename({'Molecule ChEMBL ID':'molecule_chembl_id',
                          'Standard Type':'standard_type',
                          'Standard Value':'standard_value',
                          'Standard Units':'standard_units',
                          'Assay Type':'assay_type',
                          'Assay Organism':'assay_organism',
                          'Target Organism':'target_organism'}, axis = 1)

In [ ]:
data_ed.head()

  molecule_chembl_id  ... target_organism
0       CHEMBL341096  ...    Homo sapiens
1       CHEMBL169239  ...    Homo sapiens
2       CHEMBL263480  ...    Homo sapiens
3      CHEMBL1384893  ...    Homo sapiens
4      CHEMBL1699379  ...    Homo sapiens

[5 rows x 8 columns]

In [ ]:
data_last = data_ed.query("standard_type =='IC50' & standard_units =='nM' & assay_type=='B' & assay_organism =='Homo sapiens'& target_organism =='Homo sapiens'")

In [ ]:
data_last

     molecule_chembl_id  ... target_organism
34        CHEMBL3640324  ...    Homo sapiens
39        CHEMBL3640408  ...    Homo sapiens
40        CHEMBL3642557  ...    Homo sapiens
41        CHEMBL3642442  ...    Homo sapiens
66        CHEMBL3326305  ...    Homo sapiens
...                 ...  ...             ...
1661      CHEMBL4217876  ...    Homo sapiens
1662      CHEMBL4208862  ...    Homo sapiens
1663          CHEMBL704  ...    Homo sapiens
1666      CHEMBL4211883  ...    Homo sapiens
1667      CHEMBL4216705  ...    Homo sapiens

[463 rows x 8 columns]